<guibox class="main-menu title">
	<h1>WebGL Planets</h1>
</guibox>

<!-- Binding example-->
<!-- <h1>{{bind "title"}}</h1>
<input type="text" {{bindinput "title"}} />

<br><hr><br>

<select {{bindinput "select"}} >
	{{#each selectOptions}}
		<option value="{{value}}">{{label}}</options>
	{{/each}}
</select>
{{bind "select"}}

<br><hr><br>

<input type="checkbox" {{bindcheck "bool"}} />
{{bind "bool"}} -->